---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import Link from "@/components/shared/Link.astro";

import ProjectCard from "@/components/ProjectCard.astro";
import projects from "@/data/projects";
import moment from "moment";


const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout title="Yulidar - All Project">
  <main class="flex flex-col gap-20">
    
    <header class="flex w-full flex-row justify-between text-neutral-500">
      <h3 class="text-2xl">Project.</h3>
      <Link href="/" label="<< Back"  target="_self"  />
    </header>

    <article class="grid sm:grid-cols-2 md:grid-cols-2 gap-4">
      {
        projects.length !== 0 &&
          projects.map((project) => <ProjectCard {...project} />)
      }
    </article>

    <script type="text/javascript" charset="utf-8">
      let a;
      let time;
      setInterval(() => {
        a = new Date();
        time = a.getHours() + ':' + a.getMinutes() + ':' + a.getSeconds();
        document.getElementById('time').innerHTML = time;
      }, 10);
    </script>
  </main>
  
</Layout>

<article class="relative flex justify-between mt-auto">
  <p class="text-neutral-500">© {new Date().getFullYear()}</p>
  <p class="text-neutral-500">{moment().format("dddd MMM Do")}</p>
  <p class="text-neutral-500" id="time"></p>
  <!-- <p>{new Date().toLocaleTimeString()}</p> -->
</article>